<header>
  <nav class="header">
    <button id="menu">
      <i class="fa fa-bars"></i>
    </button>
    <div id="menuBar">
      <p class="title">MyFace</p>
      <a class="link button" href="/">Home</a>
      <a class="link button" href="/posts">Posts</a>
      <a class="link button" href="/users">Users</a>
      <a class="link button" href="/posts/create">+ New Post</a>
      <a class="link button" href="/users/create">+ New User</a>
    </div>
  </nav>
</header>
