<header>
  <nav>
    <button id="menu">menu</button>
    <div id="menuBar">
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/users">Users</a>
      <a href="/posts/create">+ New Post</a>
      <a href="/users/create">+ New User</a>
    </div>
  </nav>
</header>
