<header>
  <nav class="header">
    <button id="menu" class="menu-button">
      <i class="fa fa-bars"></i>
    </button>
    <div id="menuBar" class="menu-bar">
      <div class="overlay-content">
        <p class="title">MyFace</p>
        <a class="link button" href="/">Home</a>
        <a class="link button" href="/posts">Posts</a>
        <a class="link button" href="/users">Users</a>
        <a class="link button" href="/posts/create">+ New Post</a>
        <a class="link button" href="/users/create">+ New User</a>

        <div class="logo-container">
          <a href="https://www.techswitch.co.uk/" target="_blank"
            ><img
              class="logo link"
              src="https://www.techswitch.co.uk/images/logo.svg"
              alt="techswitch logo"
          /></a>
          <a href="https://www.softwire.com/" target="_blank"
            ><img
              class="logo link"
              src="https://www.softwire.com/wp-content/uploads/2020/10/softwire-logo.png"
              alt="techswitch logo"
          /></a>
        </div>
      </div>
    </div>
  </nav>
</header>
