<head>
    <title>MyFace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://kit.fontawesome.com/f9b02f8dcb.js" crossorigin="anonymous"></script>
</head>