<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body>
    <h1>Create Post</h1>
    <form method="post" action="/posts/create">
      <label>
        Message:
        <textarea required name="message" rows="4"></textarea>
      </label>
      <label>
        Image Url:
        <input
          required
          type="url"
          name="imageUrl"
          placeholder="https://example.jpg"
        />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
  <%- include('_footer') -%>
</html>
