/* Add your styles here. */
* {
  margin: 0;
  color: #dcdcdc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #252a38;
}

.postContainer {
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 0;
  padding: 10;
  background-color: #252a38;
}

.post {
  background-color: #151820;
  list-style-type: none;
  width: 25rem;
}

.imageContainer {
  margin: 0;
}

/* || fonts */
.title {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
}

.sub-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
}

.button {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
}

.body {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.secondary {
  font-size: 10px;
  line-height: 16px;
  font-weight: normal;
}

/* || user page */
.user-page .cover-image {
  width: 100vw;
  height: 25vh;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.user-page .background-blur {
  width: 100vw;
  height: 20vh;
  background-color: #252a38;
  opacity: 56%;
  position: absolute;
  top: 150px;
  z-index: -1;
}

.user-page .profile-info-container {
  display: flex;
  gap: 20px;
  width: 100vw;
  margin-top: 135px;
}

.user-page .profile-info-container .profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #dcdcdc;
}

.user-page .profile-info-container .profile-name {
  margin: 15px 0;
}

.user-page .profile-info-container .profile-username {
  font-weight: bold;
}

.user-page-heading {
  margin: 15px 20px;
}

/* || user page - post */
.post-container {
  background-color: #151820;
  width: 70vw;
  margin: 20px auto;
}

.post-container .post-text-content {
  padding: 5px 15px;
}

.post-container .post-text-content .message {
  padding: 10px 0;
}

.post-container .post-image {
  width: 70vw;
  height: 45vw;
}

.after-cover {
  margin-bottom: 10px;
}

.cover-userlist {
  position: relative;
  top: 0;
  left: 0;
  width: 80vw;
  margin: 5px auto;
}

.profile-userlist {
  /* position: absolute; */
  top: 35px;
  left: 10px;
  border-radius: 50%;
  width: 25vw;
}

.button.colour-button {
  color: #151820;
}

#menuBar {
  display: none;
  background-color: #151820;
  height: 100vh;
  width: 60vw;
}

#menu {
  background-color: #252a38;
  font-size: 40px;
  border: none;
  float: right;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.link {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.header .title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

