/* Add your styles here. */
* {
  margin: 0;
  color: #dcdcdc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #252a38;
}

.postContainer {
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 0;
  padding: 10;
  background-color: #252a38;
}

.post {
  background-color: green;
  list-style-type: none;
  width: 25rem;
}

.imageContainer {
  margin: 0;
}

/* img {
  object-fit: cover;

  max-height: 100%;
} */

.background-blue {
  width: 100vw;
  height: 20vh;
  background-color: #252a38;
  opacity: 56%;
  position: absolute;
  top: 150px;
  z-index: -1;
}

.flex-container {
  display: flex;
  gap: 20px;
  width: 100vw;
  padding: 20px;
  margin-top: 135px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #dcdcdc;
}

.profile-name {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin: 15px 0;
}

.profile-username {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.profile-email {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.cover-image {
  width: 100vw;
  height: 25vh;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.profile-message {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding: 10px;
}

.date {
  font-size: 10px;
  font-weight: normal;
}

.profile-only-name {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin: 15px 20px;
}

.post-image {
  width: 70vw;
  height: 45vw;
}

.post-container {
  background-color: #151820;
  width: 70vw;
  margin: 0 auto;
}

.name-date {
  padding: 10px;
}

.after-cover {
  margin-bottom: 10px;
}

.page-heading {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin: 15px 25px;
}

.cover-userlist {
  position: relative;
  top: 0;
  left: 0;
  width: 80vw;
  margin: 5px auto;
}
.profile-userlist {
  position: absolute;
  top: 35px;
  left: 10px;
  border-radius: 50%;
  width: 25vw;
}
